@media screen and (max-width: 480px) {


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100%;
    }

    .oferta {
        visibility: hidden;
    }

    .primerSeccion {
        width: auto;
    }

    .primerSeccion nav {
        width: 100%;
        display: none;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .encabezado {
        text-align: center;
        margin-right: 20px;
    }

    .encabezado h1 {
        font-size: 100px;
        margin-left: 5px;
    }

    .encabezado h2 {
        font-size: 90%;
        text-align: center;
    }

    .logo {
        height: 40%;
        width: 40%;
    }

    .menuprincipal {
        display: flex;
        justify-content: center;

    }

    .menuprincipal li {
        height: 80%;
    }

    .ofert {
        width: auto;

        .gird {

            visibility: hidden;
            display: flex;
            flex-direction: column;

        }

        .posi1 {
            padding-left: 0px;
        }

        .posi2 {
            visibility: hidden;
        }



    }

    .ofertt {
        visibility: hidden;
    }

    .completa {
        visibility: hidden;
    }

    footer {
        width: auto;
        display: flex;
        flex-direction: column;
        grid-template-areas: "pagos"
            "redes"
            "derechos";
    }

    .pagos {
        grid-area: pagos;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derechos {
        background-color: #EFE9EC;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        grid-area: derechos;
    }

    .lista {
        margin: 30px;
        text-align: justify;
    }

    .texto {
        margin: 30px;
    }

    h3 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    .contactoItem {
        margin: 5px;
    }

    .contacto1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .comentarios {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}