* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "mediaq";
@import "footer";
@import "variables";
@import "header";

@font-face {
    /* una esta fuente es para el header*/
    font-family: MarcellusSc-Regular;
    src: url(../fonts/MarcellusSC-Regular.ttf);
}

@font-face {
    font-family: Cinzel;
    src: url(../fonts/Cinzel.ttf);
}

/*estas fuentes son para el resto de la pagina combinando sus variantes*/
@font-face {
    font-family: Roboto-Italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    background-color: #efe9ec;
    height: auto;

    nav {
        font-family: Roboto-Regular;
    
    }

    a {
        text-decoration: none;
    }

    h3 {
        font-family: Roboto-Italic;
        margin: 2%;
    }

    main {
        font-family: Roboto-Regular;
        text-align: left;
        line-height: 1.5;
    }

    .slider {
        padding: 2%;
        width: 95%;
        margin: auto;
        overflow: hidden;

        ul {
            width: 300%;
            display: flex;
            padding: 0;
            animation: cambio 10s infinite;
            animation-direction: alternate;
        }

        li {
            width: 100%;
            list-style: none;
        }

        img {
            width: 100%;
        }
    }

    @keyframes cambio {
        0% {
            margin-left: 0;
        }

        30% {
            margin-left: 0;
        }

        35% {
            margin-left: -100%;
        }

        65% {
            margin-left: -100%;
        }

        70% {
            margin-left: -200%;
        }

        100% {
            margin-left: -200%;
        }
    }

    // fotos del slider

    .fotos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2%;
        object-fit: cover;

        .foto {
            width: 250px;
            height: 250px;
        }

        .foto:hover {
            border-radius: 30px;
            box-shadow: 2px 2px 20px 20px rgba(240, 231, 216, 0.7);
        }

        p {
            font-family: Roboto-Regular;
            display: block;
            text-align: center;
        }
    }
}

@media screen and (max-width: 480px) {

    body {
        width: auto;
    }

    .primerSeccion {
        width: auto;
    }

    .primerSeccion nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .encabezado {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        text-align: center;
        margin-right: 20px;
    }

    .encabezado h1 {
        font-size: 200%;
        margin-left: 5px;
    }

    .encabezado h2 {
        font-size: 90%;
        text-align: center;
    }

    .logo {
        height: 40%;
        width: 40%;
    }

    .menuprincipal {
        display: flex;
        justify-content: center;
        /* align-items: center; */
    }

    .menuprincipal li {
        height: 80%;
        /* align-items: center; */
    }

    footer {
        display: grid;
        grid-template-areas: "pagos"
            "redes"
            "derechos";
    }

    .pagos {
        grid-area: pagos;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redes {
        grid-area: redes;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .derechos {
        background-color: #EFE9EC;
        width: 100%;
        /* margin: 10px; */
        padding: 10px;
        display: flex;
        justify-content: center;
        grid-area: derechos;
    }

    .lista {
        margin: 30px;
        text-align: justify;
    }

    .texto {
        margin: 30px;
    }

    h3 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    /* .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .contactoItem {
        margin: 5px;
    }

    .contacto1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .comentarios {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}